* {
    margin: 0;
}

body {
    background-color: gainsboro;
}

.app__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.app__stats {
    display: flex;
    justify-content: space-between;

}

@media (max-width: 460px) {
    .app__stats{
        flex-direction: column;
    }
    .app__stats .MuiPaper-root {
        margin: 10px !important;
        text-align: center !important;
    }
    .app__right {
        margin-top: 20px !important;
    }
    .table {
        margin-bottom: 10px !important;
    }
    .app__header {
        flex-direction: column;
    }
}

.app {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}


@media (max-width: 990px) {
    .app{
        flex-direction: column;
    }
}

.app__left {
    flex: 0.9;
}

.table td {
    padding: 0.5rem;
}

.app__header > h1 {
    color: #fc3c3c;
    font-size:2rem;
}

.app__dropdown {
    background-color: white;
}


.app__graph {
    flex-grow: 1;
}

.app__right {
    display: flex;
    flex-direction: column;
}

.app__right .MuiCardContent-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.app__graphTitle {
    margin-top: 20px;
    margin-bottom: 20px;
}

.app__options:hover {
    background-color: lightslategray !important;
}